.default {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.selected {
    border-width: 3px;
    border-style: solid;
    border-color: orange;
}
.disconnected {
background-color: darkgray;
}
.connected {
    background-color: darkgreen;
    }